.eunit
debug_setting.yaml
deps
ebin
log
rel/files/sample/haml/*.html
rel/files/sample/www/traceroute.svg
tags

syntax: glob
*.beam
*.pyc
*.sw?
*.tmp
.DS_Store
erl_crash.dump

syntax: regexp
^src/test/log/.*$
^src/include/vsn\.hrl$
(.*/)?(.*\.)?db$
