!!!
%html
  %head
    %title Network Monitor - Shirasu WebSocket Server
    %link{:rel=>"stylesheet", :href=>"/stylesheets/bootstrap-1.3.0.min.css"}
    %script{:src=>"/scripts/jquery-1.6.4.min.js"}
    %script{:src=>"/scripts/pingman.js"}
    %script{:src=>"/scripts/jquery.tablesorter.min.js"}
    %style
      svg {width:100%;}
      pre#stream {height:300px;overflow:auto;}
  %body
    .topbar
      .topbar-inner
        .container-fluid
          %a.brand Network Monitor
          %p.pull-left
            %a powered by HTML5 / WebSocket
          %p.pull-right
            %a{:href=>"http://shirasu.ws/"} Shirasu WebSocket Server &copy; Shirasu.ws 2011
    .container-fluid
      #svg.span10
        %h3
          %br/
          Network Topology
          .pull-right
            %span.label invisible node
            %span.label.success ok
            %span.label.warning no response
            %span.label.important packet loss
      .span12
        .hero-unit
          %h3
            WebSocket Stream
          %pre#stream.prettyprint
          %h3 Nodes
          %table
            %thead
              %tr
                %th IP
                %th packet loss
                %th max
                %th avg
                %th min
                %th stddev
            %tbody
